body {
	font-family: Whitney;
	-webkit-font-smoothing: antialiased;
}

*, :after, :before {
	box-sizing: inherit;
}
.header
{

position: fixed;
}

.login-button-info-text {
	color: #94969f;
	font-size: 12px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.login-divide-text {
	margin-top: 40px;
	color: #94969f;
	font-size: 12px;
	color: #94969f;
}



.login-fb-logo {
	
	width: 200px;
	height: 42px;
}

.social-login-container
{
	text-align: center;
}


.login-gplus-logo {
	width: 200px;
	height: 42px;
}

.login-container {
	background: linear-gradient(to bottom right, #4ce2b1	, #fcf0e2);
	text-align:center;
	padding-top: 40px;
	position: relative;
	padding-bottom: 50px;
}

.login-box {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 15px rgba(0, 0, 0, .1);
	padding: 20px 10px;
	max-width: 430px;
	display: inline-block;
    width: 600px;
}
/* @media (min-width: 400px) */
/* .login-box { */
/*     display: inline-block; */
/*     width: 400px; */
/* } */
.login-title {
	font-size: 32px;
	margin-top: 15px;
	color: #535766;
}

.login-input-container {
	margin: 20px;
	border: 1px solid #bfc0c6;
	border-radius: 5px;
	padding: 0;
}

.login-input-item {
	position: relative;
}
div {
    display: block;
}
.login-input-item:HOVER {
	position: relative;
	box-shadow: 0 2px 15px rgba(0, 0, 0, .1);
}

.login-user-input-email {
	border-top: 1px solid #d5d6d9;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.login-user-input-password {
	border-top: 1px solid #d5d6d9;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

	.login-user-input {
		display: block;
		color: #282c3f;
		padding-right: 40px;
		font-size: 15px;
		width: 100%;
		border-left:0px;
		padding: 15px;
	}

.login-button-container {
	padding: 0px 20px;
	margin: 0;
	border: 0;
}

.login-button {
	background-color: rgba(13, 173, 156, 0.87);
	color: #fff;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 2px;
	padding: 15px;
	display: block;
	width: 100%;
	border: 0;
	text-transform: uppercase;
	border-radius: 3px;
}

.login-button:HOVER {
	background-color: #ff4670;
}

.forgot-register-container
{
	padding-top:10px;
	display: flex;
}
.forgot-password {
    cursor: pointer;
    text-decoration: none;
    color: rgba(13, 173, 156, 0.87);
    font-size: 13px;
    padding: 10px 40px;
}
.register-link
{
	cursor: pointer;
    text-decoration: none;
    color: #ea5e8b;
    font-size: 13px;
    padding: 10px 0;
}
.create-account
{
	color: rgba(13, 173, 156, 0.87);
}