* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.header {
	margin-top: 0px;
	display: flex;
	margin-bottom: 0px;
}
/* input[type=text] { */
/* 	width: 150px; */
/* 	height: 42px; */
/* 	box-sizing: border-box; */
/* 	border: 2px solid #994d00; */
/* 	border-radius: 40px; */
/* 	font-size: 16px; */
/* 	background-color: white; */
/* 	background-image: url("../images/search.png"); */
/* 	background-size: 30px; */
/* 	background-position: 12px 12px 9px 12px; */
/* 	background-repeat: no-repeat; */
/* 	padding: 12px 20px 12px 40px; */
/* 	-webkit-transition: width 0.4s ease-in-out; */
/* 	transition: width 0.4s ease-in-out; */
/* } */

.button {
/* 	display: inline-block; */
	border-radius: 35px;
	background-color: #5a2d0c;
	border: none;
	color: #ffd480	;
	text-align: center;
	font-size: 18px;
	padding: 10px;
	width: 150px;
	height: 40px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '»';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

.marketing {
	/* 	background-color: #e6e6e6; */
	
}

.mySlides {
	text-align: center;
	width: 100%;
}

.brand-icons {
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
}

.w3-badge {
	height: 13px;
	width: 13px;
	padding: 0
}

.logo {
	padding-left: 10px;
}

.name-quote {
	text-align: left;
	padding-left: 10px;
	color: #8b4513;
	padding-top: 10px;
/* 	font-family: 'Cookie', cursive; */
font-family: 'Belgrano', serif;
}

.banner {
	max-height: 80%;
	max-width: 100%;
}

.item {
	position: relative;
	overflow: hidden;
	width: auto;
}

.item img {
	max-width: 100%;
	-moz-transition: all 0.2s;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.item:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.footer {
	display: flex;
	/* 	background-color: #e6e6e6; */
}

.footer-first-col {
	color: #697071;
	font-family: Whitney, Helvetica, Arial, sans-serif;
	padding-bottom: 20px;
	padding-left: 80px;
}
.social
{
	height: 40px;
	width: 40px;
}
.footer-second-col {
	margin-bottom: 20px;
	
	margin-left: 5px;
	color: #697071;
	font-family: Whitney, Helvetica, Arial, sans-serif;
	font: larger;
}
.footer-third-col {
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 5px;
	color: #697071;
	font-family: Whitney, Helvetica, Arial, sans-serif;
	font: larger;
}